---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import "../styles/post-rows.css";

const latestPosts = (await getCollection('posts'))
    .filter(post => !post.data.isDraft)
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
    .slice(0, 10);

const popularPosts = (await getCollection('posts'))
    .filter(post => !post.data.isDraft)
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
    .filter((post) => post.data.isPopular)
    .slice(0, 10);

const favPosts = (await getCollection('posts'))
    .filter(post => !post.data.isDraft)
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
    .filter((post) => post.data.isFav)
    .slice(0, 10);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
        <main>
            <p>
                Hello! I'm John McBride. I'm an engineering VP at The Linux Foundation
                where I'm building our AI and backend infrastructure for the LFX platform.
            </p>

            <p>
            On this site, you can find posts I've written, abstracts and videos for talks I've given,
            and more. These days, I mostly hang out on <a href="https://bsky.app/profile/johncodes.com">Bluesky</a>.
            </p>

            </br>

            <div class="title-posts">
                <h3>
                    Latest posts
                </h3>
                <div class="posts">
                    {latestPosts.map(post => (
                        <div class="post-row">
                            <a href={`/archive/${post.id}/`}>{post.data.title}</a>
                            <span class="date">{post.data.pubDate.toLocaleDateString('en-us', {
                                year: 'numeric',
                                month: 'short',
                                day: 'numeric',
                            })}</span>
                        </div>
                    ))}
                </div>
            </div>


            <div class="title-posts">
                <h3>
                    Popular posts
                </h3>
                <div class="posts">
                    {popularPosts.map(post => (
                        <div class="post-row">
                            <a href={`/archive/${post.id}/`}>{post.data.title}</a>
                            <span class="date">{post.data.pubDate.toLocaleDateString('en-us', {
                                year: 'numeric',
                                month: 'short',
                                day: 'numeric',
                            })}</span>
                        </div>
                    ))}
                </div>
            </div>

            <div class="title-posts">
                <h3>
                    My favorite posts
                </h3>
                <div class="posts">
                    {favPosts.map(post => (
                        <div class="post-row">
                            <a href={`/archive/${post.id}/`}>{post.data.title}</a>
                            <span class="date">{post.data.pubDate.toLocaleDateString('en-us', {
                                year: 'numeric',
                                month: 'short',
                                day: 'numeric',
                            })}</span>
                        </div>
                    ))}
                </div>
            </div>
        </main>
		<Footer />
	</body>
</html>
